@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
  font-family: 'Your Font Name';
  src: url('../fonts/yourfontname/yourfontname-roman.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Your Font Name';
  src: url('../fonts/yourfontname/yourfontname-italic.woff2');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}



/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255, 255, 255, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgba(0, 0, 255, 0.8);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-text: 'Your Font Name', 'Helvetica', 'Arial', sans-serif;
  --font-size: 24px;
  /* Margin values */
  --margin: 1rem;


  /* Examples of possible variables */

  --font-size-heading: calc(var(--font-size) * 2);
  --font-size-subheading: calc(var(--font-size) * 1.25);
  --font-size-caption: calc(var(--font-size) * 0.875);

  --margin-xs: calc(var(--margin) * 0.5);
  --margin-s: calc(var(--margin) * 1);
  --margin-m: calc(var(--margin) * 2);
  --margin-l: calc(var(--margin) * 3);
  --margin-xl: calc(var(--margin) * 5);

}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position: relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}


h1 {
  /* h1 style */
  font-size: clamp(var(--font-size-heading),
      4vw,
      calc(var(--font-size-heading) * 1.25));
}

h2 {
  /* h2 style */
}

h3 {
  /* h3 style */
}

h4,
h5,
h6 {
  /* h4-h5-h6 style */
}

p {
  /* paragraph style */
}

ol,
ul {
  /* ordered list and unordered list styles */
}

blockquote {
  /* blockquote element style */
}

hr {
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

nav {
  ul {
    margin: .5rem 0;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 1rem;
    max-height: 4rem;

    a, a:hover {
      text-decoration: none;
    }

    li {
      line-height: 1.2;
    }
  }
}

/* content */

main {}

summary {}

html {
  /* scroll-behavior: smooth; */
}

.page-wrapper {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/scroll-behavior */
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page-wrapper>main {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

[id^="component"] {
  min-width: 10rem;
  min-height: 5rem;
  background-color: lightcyan;
}

#component-1-thomas {
  /* background-color: fuchsia; */
  width: max-content;

  .measure-1 {
    max-width: 50ch;
    color: blue
  }

  .measure-2 {
    max-width: 20ch;
    color: green;
  }

  .measure-3 {
    max-width: 10ch;
    color: red;
  }
}

#component-2-pyotr {
  .tab1 {
    tab-size: 2;
  }

  .tab2 {
    tab-size: 4;
  }

  .tab4 {
    tab-size: 8;
  }
}

#component-3-vici-miron {
  width: 50vw;
  height: auto;
  background-color: pink;
  font-family: Georgia, 'Times New Roman', Times, serif;

  #p-left {
    text-align: left;
  }

  #p-mid {
    text-align: center;
  }

  #p-full {
    text-align: justify;
  }
}

#component-4-panna-olivia {
  [class^="leading"] {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .leading-1 {
    line-height: 2;
  }

  .leading-2 {
    line-height: 1;
  }
}

#component-5-armand-omid {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;


  [class^="measure-"] {
    padding: 10px;
    text-align: left;
    text-indent: 4rem;
    width: 70%;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
  }

  [class^="measure-"] p {
    margin: 0;
    text-indent: 4rem;
  }



  [class^="measure-"]:nth-child(4n+1) {
    margin-left: 0%;
  }

  [class^="measure-"]:nth-child(4n+2) {
    margin-left: 15%;
  }

  [class^="measure-"]:nth-child(4n+3) {
    margin-left: 30%;

  }

  [class^="measure-"]:nth-child(4n+4) {
    margin-left: 15%;
  }

  .measure-1 {
    background-color: #f0f0f0;
    color: black;
  }

  .measure-2 {
    background-color: #e1e1e1;
    color: black;
  }

  .measure-3 {
    background-color: #d2d2d2;
    color: black;
  }

  .measure-4 {
    background-color: #c3c3c3;
    color: black;
  }

  .measure-5 {
    background-color: #b4b4b4;
    color: black;
  }

  .measure-6 {
    background-color: #a5a5a5;
    color: black;
  }

  .measure-7 {
    background-color: #969696;
    color: black;
  }

  .measure-8 {
    background-color: #878787;
    color: white;
  }

  .measure-9 {
    background-color: #787878;
    color: white;
  }

  .measure-10 {
    background-color: #696969;
    color: white;
  }

  .measure-11 {
    background-color: #5a5a5a;
    color: white;
  }

  .measure-12 {
    background-color: #4b4b4b;
    color: white;
  }

  .measure-13 {
    background-color: #3c3c3c;
    color: white;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-left: 1px solid var(--border-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border: 1px solid var(--bg-color);
  }

  .parallelogram-box {
    padding: 60px 80px;
    text-align: left;
    width: 70%;
    box-sizing: border-box;
    background-color: #0022ff;
    color: white;


    --p: 60px;
    clip-path: polygon(var(--p) 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);

    margin-left: 15%;
    margin-top: 0;
    min-height: 200px;
    display: block;

    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    line-height: inherit;
  }

  .parallelogram-box p {
    margin: 0;
    text-indent: 4rem;
  }

  .parallelogram-box [class^="measure-"] {
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    text-align: inherit;
    color: inherit;
  }

  #live-clock {
    font-size: 6rem;
    line-height: 0.9;
    letter-spacing: -2px;
    margin-top: 100px;
    margin-bottom: 50px;
    /* Let's stick to raw. */
    width: 100%;
    word-wrap: break-word;
  }
}

#component-6-maya-alessia {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 30rem;
  /* height: 5rem; */
  /* corrected to fit your long text: */
  height: auto;
  background-color: rgba(152, 251, 152, 0);
  letter-spacing: 0.01rem;
  margin-left: 5rem;
}

#component-7-gio-dragos {
  font-family: 'body';
  padding: 1rem;
  max-width: 80%;
  height: 100%;
  font-size: 16px;
  line-height: 1.25rem;
  columns: 2;
  column-gap: 4%;
  text-align: justify;
}

#component-8-frederico-suzie {
  /* background-color: fuchsia; */
  width: max-content;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(181, 240, 126);


  .indent-1 {
    text-indent: 5ch;
    color: #ffffff
  }

  .indent-2 {
    text-indent: 8ch;
    color: rgb(255, 255, 255)
  }

  .indent-3 {
    text-align: right;
    color: rgb(255, 255, 255)
  }

  .paragraph-spacing {
    margin: 1rem 0;
    color: rgb(255, 255, 255);
    line-height: 2rem;
  }
}

#component-9zoe-maja-silva {
  /* background-color: fuchsia; */
  font-family: 'Times New Roman', Times, serif;
  width: max-content;
  max-width: 20ch;
  line-height: .5;
  background-color: rgb(221, 226, 238);

  .indent-1 {

    text-indent: 2rem;
    color: rgb(225, 173, 184)
  }

  .indent-2 {
    text-indent: 4rem;
    color: rgb(132, 180, 106);
  }

  .indent-3 {
    text-indent: 6rem;
    color: rgb(83, 83, 169);
  }
}

#component-10-alex-simcha {
  /* background-color: fuchsia; */
  width: max-content;

  .tracking-1 {
    max-width: 100%;
    color: blue;
    letter-spacing: -0.05rem;
  }

  .tracking-2 {
    max-width: 20ch;
    font-size: 1rem;
    color: palevioletred;
    letter-spacing: 25rem;
  }

  .tracking-3 {
    max-width: 10ch;
    color: red;
    letter-spacing: 5rem;
  }
}

#component-11-andre-jasper {
  background-color: rgb(213, 213, 213);
  width: max-content;

  .tracking-1 {
    max-width: 100%;
    color: darkgreen;
    letter-spacing: 5rem;
  }

  .tracking-2 {
    max-width: 60ch;
    font-size: 1rem;
    color: white;
    letter-spacing: 11rem;
  }

  .tracking-3 {
    max-width: 10ch;
    color: red;
    letter-spacing: 1rem;
  }
}


#component-12-csenge-feyo {
  background-color: #fff;
  width: max-content;

  .measure-1 {
    max-width: 50ch;
    color: rgb(17, 17, 39);
    text-align: justify;
  }

  .measure-2 {
    max-width: 20ch;
    color: green;
    text-align: justify;
  }

  .measure-3 {
    max-width: 50ch;
    color: red;
    text-align: justify;
  }
}

#component-13-yin-eva {
  color: purple;
  line-height: 2rem;

  .leading-1 {
    background-color: blanchedalmond;
    line-height: 3rem;
  }

  .leading-2 {
    background-color: pink;
    line-height: 15rem;
  }

  .leading-3 {
    background-color: rgb(181, 218, 138);
  }
}

#component-14-park-izzie {
  background-color: green;
  max-width: 50ch;
  text-indent: -5rem;
  padding-left: 5rem;
}

#component-15-francois {

  p {
    letter-spacing: 0;
    word-spacing: 0;
    transition: all 100ms ease-in-out 0ms;
    color: transparent;
    -webkit-text-stroke: 1px red;
  }

  p:hover {
    letter-spacing: 1em;
    word-spacing: -5em;
  }

  p:before,
  p:after {
    font-size: 1em;
    display: inline-block;
    content: '"';
    background-color: yellow;
    border: 0.25em dotted rgb(9, 255, 0);
    outline: 0.25em dotted red;
    box-shadow: 0 0 0 0.25em rgb(255, 0, 183), 0 0 0 0.5em blue;
    outline-offset: 0.5em;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    text-align: center;
    box-sizing: border-box;
  }

}

/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* responsive typeface for various breaking points, sets the default 'rem' value */
@media (max-width: 299px) {
  :root {
    --font-size: 18px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 299px) and (max-width: 340px) {
  :root {
    --font-size: 19px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 340px) and (max-width: 440px) {
  :root {
    --font-size: 20px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 441px) and (max-width: 779px) {
  :root {
    --font-size: 19px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 780px) and (max-width: 992px) {
  :root {
    --font-size: 20px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  :root {
    --font-size: 21px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 1201px) and (max-width: 1320px) {
  :root {
    --font-size: 22px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

@media (min-width: 1321px) {
  :root {
    --font-size: 24px;
  }

  html,
  body {
    font: var(--font-size) var(--font-text);
  }
}

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* your 'mobile' overriding css properties here */

  nav {
    font-size: smaller;
  }

  /* utility classes, mobile */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

  /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}